---

services:
  frontend:
    image: mdcapi/frontend
    build:
      context: frontend
    ports:
      - "8080:80"   # Local frontend
    environment:
      # These production variables can stay or be removed; they are harmless locally.
      VIRTUAL_HOST: dcs-mdc.com,mdc.132virtualwing.org
      LETSENCRYPT_HOST: dcs-mdc.com,mdc.132virtualwing.org
      VIRTUAL_PORT: "80"
    volumes:
      - ./data/cache:/var/www/html/cache
      - ./data/mdcs:/var/www/html/mdcs
      - ./data/mdc_images:/var/www/html/mdc_images
    networks:
      - api   # REMOVED nginx-proxy
    depends_on:
      - api
    restart: always

  api:
    image: mdcapi/api
    build:
      context: api
    ports:
      - "5002:5001"  # Local API
    environment:
      MDC_API_CONFIG: /data/app.conf
    volumes:
      - ./etc/app.conf:/data/app.conf
    networks:
      - api
      - db
    restart: always

  database:
    image: mariadb:11
    volumes:
      - ./data/db:/var/lib/mysql
      - ./api/mdc_api.sql:/docker-entrypoint-initdb.d/mdc_api.sql
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_USER: mdc_api
      MARIADB_PASSWORD: mdc_api
      MARIADB_DATABASE: mdc_api
    networks:
      - db
    restart: always

networks:
  api:
  db:
